.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans:wght@300;500;600;700;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  --text-primary: #888585;
  --text-secondary: #ececec;
  --bg-primary: #121214;
  --nav-bar: #020202;
  --main-color: #3f4748;
  --background-color: #0e0e1a;
  --hover-item-color: #324343;
  --hover-cart-color: #d6dada;
  --cart-item-color: #828584;
  /* Graphic colors */
  --orange: #eb8015;
  --orange_2:#a4580b;
  --pink: #ff3448;
  --lightblue: #277d73;
  --turquoise: #4f8e86;
  --blue: #3f27da;

  /* Logo and warnings */
  --red: #b00b0b;
  --text: #f4f4f4;
  --transition-speed: 500ms;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--text);
  margin-bottom: 300px;
}

.title{
  font-family: 'Fascinate', cursive;
  font-size: 5rem;
  padding: 20px 0;
  color: var(--orange);
}
.sign-up-bt{
  background: var(--orange);
  border: none;
  padding: 20px 30px;
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  right: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}
.sign-up-bt:hover{
  background: var(--lightblue);
}
.sign-up-bt .sg-link{
  color: var(--text);
  text-decoration: none;
}
.heading{
  width: 100%;
  height: 450px;
  background: url(https://images.unsplash.com/photo-1575671153502-a417e2ddd259?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat center center/cover;
}
.main-cart-box{
  width: 100%;
  height: 70px;
}
.cart-box{
  width: 60px;
  height: 60px;
  background: var(--lightblue);
  border-radius: 50%;
  padding-top: 10px;
  position: absolute;
  right: 0px;
  margin-right: 10px;
  z-index: 500;
  cursor: pointer;
}
.cart-box img{
  width: 20px;
}
.cart-box p{
  position: relative;
  top: -4px;
  font-size: 0.8rem;
}

.title-products{
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--orange);

}
.item-name{
  font-weight: 600;
  font-size: 1.4rem;
  padding-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.item-category{
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  
}
.item-category_all{
  background: var(--lightblue);
  padding: 0 10px;
  border-radius: 40px;
}
.item-description{
  font-weight: 300;
  padding: 8px 0;
  font-size: 0.9rem;
}
/* Grid box */
.box{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px; 
  justify-content: center;
}
.item{
  background: var(--main-color);
  padding: 30px 40px;
  border-radius: 10px;
  width: 350px;
  height: 550px;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  cursor: pointer;
  
}
.item:hover{
  background: var(--hover-item-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter-title{
  color: var(--text-primary);
  padding-bottom: 5px;
}
.filters{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn{
  border: none;
  padding: 10px 20px;
  color: var(--text);
  background-color: var(--orange);
}
.btn:hover{
  background-color: var(--lightblue);
}
.btn-p{
  border-radius: 10px 0 0 10px;
  border-right: 1px solid var(--orange_2);
}
.btn-p-and-s{
  border-right: 1px solid var(--orange_2);
}
.btn-j{
  border-right: 1px solid var(--orange_2);
}
.btn-all{
  border-radius: 0 10px 10px 0;
}
.search-bar{
  padding-top: 20px;
}
.search-bar input{
  border-radius: 10px 0 0 10px;
  padding: 1px 0;
  border-width: 1px;
  border-color: var(--orange);
  border-style: solid;
}
.search-bar button{
  padding: 0 10px;
  background: var(--orange);
  color: var(--text-secondary);
  border-radius: 0 10px 10px 0;
  font-size: 13px;
  border-color: var(--orange);
}
.search-bar button:hover{
  background: var(--orange_2);
}
.sort-title{
  color: var(--text-primary);
  font-size: 14px;
  padding: 20px 0 10px 0;
}
.check-box{
  display: flex;
  justify-content: center;
  gap: 10px;
  border: none;
}
.check-box input{
 width: 11px;
}
.radio-label{
  color: var(--text-primary);
  font-size: 11px;
}

/* Products */
.product-container{
  width: 100%;
  margin-top: 10px;
  height: 45%;
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 10px;
}
.product-image{
  width: 100%;
  background: #020202;
}
.cart-btn{
  width: 70%;
  height: 40px;
  margin: auto;
  background: var(--orange);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: none;
  color: var(--text);
}
.cart-btn h4{
  padding-top: 10px;
  font-size: 0.9rem;
}
.cart-btn:hover{
  background: var(--lightblue);
  cursor: pointer;
}
.add-cart-img{
  width: 25px;
  height: 25px;
  margin: 5px 0 0 5px;
}
.main-cart-items{
  width: 100%;

}
/* Cart container */
.cart-items-container{
  width: 480px;
  background-color: var(--hover-cart-color);
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: 19%;
  z-index: 499;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 80px 20px 30px 20px;
}
.cart-items-container h4{
  color: var(--orange);
  padding: 20px 0;
}
.cart-items-container p{
  color: var(--orange_2);
  font-size: 1.5rem;
}

/* Cart Item */
.item-cart{
  width: 100%;
  height: 60px;
  background-color: var(--turquoise);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 5px;
}
.item-cart p{
  color: var(--text);
  margin-top: 10px;
  font-size: 0.9rem;
}
.item-cart .item-price-cart{
  font-weight: 700;
 
}
.cart-image-container{
  width: 50px;
  height: 100%;
  background-color: var(--text);
  padding: 3px;
}
.cart-image-container img{
  width: 100%;
}
.remove-btn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--turquoise);
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.remove-btn:hover{
  background: var(--main-color);
}
.remove-btn img{
  width: 100%;
}
.empty-cart{
  width: 100%;
  height: 100%;
  background: #020202;
  z-index: 600;
}
.checkout-btn{
  width: 300px;
}
.checkout-btn p{
  color: var(--text);
  font-size: 1rem;
  padding-top: 10px;
}
.total-value-color{
  color: var(--lightblue);
}
.ckeckout-link{
  text-decoration: none;
}

/* checkout page */
.check-out-main-box{
  width: 100%;
  /* height: 100vh; */
  text-align: center;
}
.bags{
  width: 200px;
  margin-bottom: 20px;
}
.chkout-item-box{
  width: 70%;
  background: var(--orange);
  margin: auto;
  align-items: center;
  padding: 10px 0 30px 0;
  border-radius: 20px;
}
.chkout-item-box .chk-title{
  padding: 30px 0 20px 0;
}
.chkout-item-box h2{
  padding-top: 40px;
  color: #933727;
}
.chkout-item-box h2 span{
  color: var(--text);
}
.ckout-box{
  width: 100%;
  height: 10%;
  background: var(--lightblue);
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.5rem;
  padding: 15px;
}
.final-chbkt-btn{
  padding: 15px 30px;
  margin-top: 30px;
  border-radius: 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  background: var(--lightblue);
  color: var(--text);
  font-size: 1rem;
}
.final-chbkt-btn:hover{
  background: var(--orange_2);
  cursor: pointer;
}
.cancel-link{
  text-decoration: none;
}
.cancel-p{
  color: var(--hover-item-color);
  margin-top: 30px;
}
.item-cart-empty-error{
  width: 100%;
  background: var(--lightblue);
  padding: 20px 0;
}
.form-bg{
  width: 100%;
  background: var(--lightblue);
  padding: 40px 16%;
  display: flex;
  flex-direction: column;
}
.form-bg .format-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-bg .format-form label{
  padding-bottom: 5px;
}
.form-bg input{
  width: 100%;
  height: 38px;
  border-style: none none solid none;
  border-color: var(--orange);
  margin-bottom: 15px;
  text-align: center;
  font-size: 1rem;
  background: none;
  color: var(--background-color);
}
/* Form display */
.show-form{
  display: block;
}
.hide-form{
  display: none;
}


/* Final Message */
.thanks-box{
  margin-top: 100px;
}
.thanks-box h1{
  padding-bottom: 40px;
  color: var(--lightblue);
}
.thanks-box .name-b{
  color: var(--orange);
  font-weight: 800;
}
.sh-b{
  width: 15%;
}
